global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'

    scrape_interval: 15s

    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'node'

    scrape_interval: 15s

    static_configs:
      - targets: ['debiand843e635fb7.home:9100']
        labels:
          group: 'production'
